# Archivos de sistema ocultos o comunes a varias plataformas
*.ini
.DS_Store
Thumbs.db

# Archivos temporales, intermedios, de error o de backup típicos
*.res
*.dat
*.tmp
*.temp
*.autosave
*.save
*.log
*.out
*.err

# Archivos de Ltspice, redes y autoruteo
*.raw
*.net
*.plt
*.dsn
*.ses

# Archivos de Scilab
*.bin
*.sav
*.dia.ref
*.xml.ref
*.xcos.xml
*.sci~
*.sce~
*~
*.swp
*.bak

# KiCad temporales
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
~*
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache